<div class="alert alert-info alert-block">
    <a class="close" data-dismiss="alert" href="#">×</a>
    <h4 class="alert-heading">@FrontViewRes._MouldNoResult._MouldNoResultSorry</h4>
    @FrontViewRes._MouldNoResult._MouldNoResultNoData
</div>

